@charset "utf-8";
.intro__list {
	max-width: 690px;
	margin: 33px auto 0px 0px;
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	font-style: normal;
	color: white;
	text-align: left;
}