@charset "utf-8";
.lead {
	display: grid;
	grid-template-columns: minmax(320px, 1fr);
	margin: 48px auto 0 auto;
	max-width: 984px;
	height: 100%;
}
@media screen and (max-width: 1024px) {
	.lead {
		max-width: 928px;
	}
}
@media screen and (max-width: 768px) {
	.lead {
		grid-column: 1/1;
		grid-row: 1/3;
		width: 100%;
	}
}