@charset "utf-8";
.header__link-en {
	font-size: 24px;
	line-height: 28px;
	font-weight: normal;
	color: white;
	text-decoration: none;
}
@media screen and (max-width: 320px) {
	.header__link-en {
		font-weight: normal;
		font-size: 18px;
		line-height: 20px;
		color: white;
	}
}