@charset "utf-8";
.footer__link-group{
	display: flex;
	flex-direction: row;
	margin: auto auto 0px 0px;
	text-align: left;
}
@media screen and (max-width: 320px) {
	.footer__link-group {
		display: flex;
		flex-direction: column;
		padding-bottom: 24px;
	}
}