@charset "utf-8";
.place__paragraph {
	margin: 0 0 26px 0;
	font-weight: lighter;
	font-size: 18px;
	line-height: 29px;
	color: white;
	text-align: left;
}
@media screen and (max-width: 768px) {
	.place__paragraph {
		font-size: 16px;
		line-height: 26px;
	}
}