@charset "utf-8";
.lead__image {
	grid-column: 1/1;
	grid-row: 3/5;
	z-index: 2;
	width: 100%;
	height: auto;
	margin: 64px auto 0 auto;
}
@media screen and (max-width: 1024px) {
	.lead__image {
		margin: 56px auto 0 auto;
	}
}
@media screen and (max-width: 320px) {
	.lead__image {
		margin: 40px auto 0 auto;
	}
}