@charset "utf-8";
.cover {
	align-items: center;
	justify-items: center;
	position: relative;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	margin: 92px auto 0 auto;
}
@media screen and (max-width: 320px) {
	.cover {
		margin: 66px auto 0 auto;
	}
}