@charset "utf-8";
.place {
	object-fit: cover;
	max-width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 48px 40px;
}
@media screen and (max-width: 768px) {
	.place {
		grid-template-columns: 1fr 1fr;
	}
}
@media screen and (max-width: 320px) {
	.place {
		gap: 32px;
		grid-template-columns: 1fr;
	}
}