@charset "utf-8";
.place {
	object-fit: cover;
	max-width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 48px 40px;
}
@media screen and (min-width: 0px) {
	.place {
		gap: 32px;
		grid-template-columns: 1fr;
	}
}
@media screen and (min-width: 768px) {
	.place {
		grid-template-columns: 1fr 1fr;
		gap: 48px 40px;
	}
}