@charset "utf-8";
.footer {
	position: relative;
	padding-bottom: 24px;
	display: flex;
	flex-direction: row;
	width: 90%;
	margin: 92px auto 0px auto;
}
@media screen and (max-width: 768px) {
	.footer {
		margin: 90px auto 0px auto;
	}
}
@media screen and (max-width: 320px) {
	.footer {
		padding-bottom: 24px;
		display: flex;
		flex-direction: column;
		margin: 64px auto 0px auto;
	}
}