@charset "utf-8";
.place__website_link {
	margin: 0 0 0 0;
	max-width: 456px;
	font-size: 18px;
	line-height: 22px;
	font-weight: lighter;
	font-style: normal;
	color: white;
	text-align: left;
}
.place__website_link:hover {
	opacity: 0.8;
}